<div style="overflow-x: hidden">
  <div mat-dialog-title>
    <h1 style="text-align: center">News Form</h1>
  </div>
  <form [formGroup]="newsForm" (ngSubmit)="onFormSubmit()">
    <div mat-dialog-content class="content">
      <div class="row">
        <mat-form-field appearance="fill">
          <mat-label>Your name</mat-label>
          <input matInput type="text" formControlName="name" />
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Your thoughts</mat-label>
          <textarea matInput type="text" formControlName="text"></textarea>
        </mat-form-field>
      </div>
    </div>
    <div mat-dialog-actions class="action">
      <button mat-raised-button color="accent">Cancel</button>
      <button mat-raised-button color="primary" type="submit">Add</button>
    </div>
  </form>
</div>
