<mat-sidenav-container>
  <mat-sidenav #sidenav>
      <app-nav (onCloseSidenav)="onClose($event, sidenav)" [currentUser]="currentUser" (onLogout)="logout($event)"></app-nav>
  </mat-sidenav>
<mat-sidenav-content>
  <mat-toolbar color="primary">
    <div fxHide.gt-xs>
      <button mat-icon-button (click)="toogle(sidenav)">
        <mat-icon>menu</mat-icon>
      </button>
    </div>
    <div>Strongball</div>
    <div fxFlex fxLayout fxLayoutAlign="flex-end" fxHide.xs>
      <ul fxLayout fxLayoutGap="15px" class="navigation">
        <li>
          <a routerLink="/home" [ngClass]="{'hidden': currentUser == null}">Home</a>
        </li>
        <li>
          <a routerLink="/news" [ngClass]="{'hidden': currentUser == null}">News</a>
        </li>
        <li>
          <a routerLink="/teams" [ngClass]="{'hidden': currentUser == null}">Team stats</a>
        </li>
        <li *ngIf="!(currentUser)">
          <a routerLink="/login">Login</a>
        </li>
        <li *ngIf="(currentUser)">
          <a routerLink="/login" (click)="logout()">Logout</a>
        </li>
        <li>
          <a routerLink="/signUp" [ngClass]="{'hidden': currentUser != null}">Sign up</a>
        </li>
      </ul>
    </div>
  </mat-toolbar>
</mat-sidenav-content>
</mat-sidenav-container>
<router-outlet></router-outlet>

