<mat-sidenav-container>
  <mat-sidenav #sidenav>
      <app-nav (onCloseSidenav)="onClose($event, sidenav)"></app-nav>
  </mat-sidenav>
<mat-sidenav-content>
  <mat-toolbar color="primary">
    <div fxHide.gt-xs>
      <button mat-icon-button (click)="toogle(sidenav)">
        <mat-icon>menu</mat-icon>
      </button>
    </div>
    <div>Strongball</div>
    <div fxFlex fxLayout fxLayoutAlign="flex-end" fxHide.xs>
      <ul fxLayout fxLayoutGap="15px" class="navigation">
        <li>
          <a routerLink="/home">Home</a>
        </li>
        <li>
          <a routerLink="/standings">Standings</a>
        </li>
        <li>
          <a routerLink="/stats">Stats</a>
        </li>
        <li>
          <a routerLink="/teams">Teams</a>
        </li>
        <li>
          <a routerLink="/login">Login</a>
        </li>
        <li>
          <a routerLink="/login" (click)="logout()">Logout</a>
        </li>
        <li>
          <a routerLink="/signUp">Sign up</a>
        </li>
      </ul>
    </div>
  </mat-toolbar>
</mat-sidenav-content>
</mat-sidenav-container>
<router-outlet></router-outlet>

