<div class="add">
  <button mat-flat-button color="accent" (click)="openAddEditForm()">
    Writing news
  </button>
</div>
<div class="">
  <table>
    <tr>
      <th>Email</th>
      <th>News</th>
    </tr>
    <tr *ngFor="let obj of news">
      <td>{{obj.name}}</td>
      <td>{{obj.text}}</td>
      <td><mat-icon *ngIf="obj.name == getCurrentUserEmail()">edit</mat-icon></td>
      <td><mat-icon *ngIf="obj.name == getCurrentUserEmail()" (click)="delete(obj.date)">delete</mat-icon></td>
    </tr>
  </table>
</div>
