<div class="add">
  <button mat-flat-button color="accent" (click)="openAddEditForm()">
    Writing news
  </button>
</div>
<div class="">
  <table>
    <tr>
      <th>Email</th>
      <th>News</th>
      <th>Edit mode</th>
      <th>Delet mode</th>
    </tr>
    <tr *ngFor="let obj of news">
      <td>{{ obj.name }}</td>
      <td>{{ obj.text }}</td>
      <td>
        <mat-icon
          *ngIf="obj.name == getCurrentUserEmail()"
          (click)="edit(obj.text, obj.date)"
          >edit</mat-icon
        >
      </td>
      <td>
        <mat-icon
          *ngIf="obj.name == getCurrentUserEmail()"
          (click)="delete(obj.date)"
          >delete</mat-icon
        >
      </td>
    </tr>
  </table>
  <div *ngIf="this.editedNewsKey !== ''">
    <mat-form-field appearance="fill" class="area">
      <mat-label>Your thoughts</mat-label>
      <textarea #textValue matInput type="text">{{ this.editedNews }}</textarea>
    </mat-form-field>
    <div class="buttons">
    <button mat-raised-button color="accent" (click)="cancel()">Cancel</button>
    <button mat-raised-button color="primary" (click)="update(textValue.value)">Update</button>
  </div>
  </div>
  <div class="filter-button">
    <button mat-raised-button color="accent" (click)="getMyNews()">My own news</button>
    <button mat-raised-button color="accent" (click)="getAllNews()">Delete Filter</button>
  </div>
</div>
