<mat-nav-list>
    <a mat-list-item routerLink="/login" (click)="close()" *ngIf="!(currentUser)"><mat-icon>login</mat-icon><span>Login</span></a>
    <a mat-list-item routerLink="/login" (click)="close(true)" *ngIf="(currentUser)"><mat-icon>logout</mat-icon><span>Logout</span></a>
    <a mat-list-item routerLink="/signUp" (click)="close()" [ngStyle]="{'display': currentUser != null ? 'none' : 'block'}"><mat-icon>add circle</mat-icon><span>Sign Up</span></a>  
    <a mat-list-item routerLink="/home" (click)="close()" [ngStyle]="{'display': currentUser == null ? 'none' : 'block'}"><mat-icon>home</mat-icon><span>Home</span></a> 
    <a mat-list-item routerLink="/teams" (click)="close()" [ngStyle]="{'display': currentUser == null ? 'none' : 'block'}"><mat-icon>groups</mat-icon><span>Team stats</span></a>
    <a mat-list-item routerLink="/news" (click)="close()" [ngStyle]="{'display': currentUser == null ? 'none' : 'block'}"><mat-icon>monitoring</mat-icon><span>News</span></a>
  </mat-nav-list>
  