.footer_container{
    background-color:goldenrod;
    color: white;
    height: 25vh;
    width: 100%;
    inset: 0;
    position: relative;
}

.title{
    position: absolute;
    text-align: center;
    width: 100%;
}
