<div class="teams-container">
  <table matSort (matSortChange)="sortData($event)">
    <thead class="table-head">
      <tr>
        <th mat-sort-header="teamName">Team name</th>
        <th mat-sort-header="wins">Wins</th>
        <th mat-sort-header="loses">Loses</th>
        <th mat-sort-header="bestPlayer">Player of the team</th>
      </tr>
    </thead>

    <tbody class="table-body">
      @for (teams of sortedData; track teams) {
      <tr>
        <td>{{ teams.teamName }}</td>
        <td>{{ teams.wins }}</td>
        <td>{{ teams.loses }}</td>
        <td>{{ teams.bestPlayer }}</td>
      </tr>
      }
    </tbody>
  </table>
</div>
